table {
    border: 1px solid;
    align-self:baseline;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 360px;
    border-collapse: collapse;
}

td {
    border: 1px solid cadetblue;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
}